<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weina.bishe">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".controller.MApplication">
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="main"></activity>
        <activity android:name=".controller.GoodDetailActivity"
            android:theme="@style/AppThemeFull.NoActionBar"
            android:label="main"></activity>
        <activity android:name=".controller.SearchActivity"
            android:theme="@style/AppThemeFull.NoActionBar"
            android:label="main"></activity>
        <activity android:name=".controller.AddressMgActivity"
                  android:theme="@style/AppThemeFull.NoActionBar"
                  android:label="地址管理"></activity>
        <activity android:name=".controller.OrderMgActivity"
                  android:theme="@style/AppThemeFull.NoActionBar"
                  android:label="订单管理"></activity>
        <activity android:name=".controller.PayActivity"
                  android:theme="@style/AppThemeFull.NoActionBar"
                  android:label="支付"></activity>
        <activity android:name=".controller.CommentActivity"
                  android:theme="@style/AppThemeFull.NoActionBar"
                  android:label="评论"></activity>
        <activity android:name=".controller.CommentListActivity"
        android:theme="@style/AppThemeFull.NoActionBar"
        android:label="所有评论"></activity>
    </application>

</manifest>